# Name : Husnain Baidar
# Email : baidarhusnain@gmail.com

## First program

In [1]:
print ('Hello World!')

Hello World!

## Input

In [2]:
age = input("Enter your age : ")
print(age)

Enter your age : 22
22

## Type Conversions

In [3]:
birth_year = int(input("Enter your Date of Birth : "))
age = 2022-birth_year
print("Age : "+str(age))

Enter your Date of Birth : 1999
Age : 23

In [6]:
first = input("Enter first input : ")
second = input("Enter second input : ")
sum = first + second
print("Sum : ",sum)

Enter first input : 10
Enter second input : 69
Sum :  1069

In [7]:
first = input("Enter first input : ")
second = input("Enter second input : ")
sum = int(first) + int(second)
print("Sum : ",sum)

Enter first input : 10
Enter second input : 69
Sum :  79

In [8]:
first = input("Enter first input : ")
second = input("Enter second input : ")
sum = float(first) + float(second)
print("Sum : ",sum)

Enter first input : 10.1
Enter second input : 69.69
Sum :  79.78999999999999

## String

In [11]:
course='Python is a high-level, general-purpose programming language.'
print(course.upper())
print(course.lower())
print(course.find('is'))
print(course.replace('general-purpose','programming'))
print('Python' in course)

PYTHON IS A HIGH-LEVEL, GENERAL-PURPOSE PROGRAMMING LANGUAGE.
python is a high-level, general-purpose programming language.
7
Python is a high-level, programming programming language.
True

## Mathematic Operators

In [14]:
a = 44
b = 2
c = a+b
d = c/b
f = d%b
e = a*b
g = a**b
h = a-b
i = a//b

print("Addition : ",c)
print("Division : ",d)
print("Modulus : ",f)
print("Multiplication : ",e)
print("Exponent : ",g)
print("Subtraction : ",h)
print("Floor Division : ",i)

Addition :  46
Division :  23.0
Modulus :  1.0
Multiplication :  88
Exponent :  1936
Subtraction :  42
Floor Division :  22

## Logical Operators

In [19]:
x = 4 > 2
y =22 <= 22
price=669

print(x)
print(y)
print(price >600 and price <700)
print(price >425 or price <660)
print(not price >60)

True
True
True
True
False

## If Else Statement

In [28]:
temperature = float(input("Enter today's temperature : "))
if temperature > 30:
    print ("It's a hot day")
    print ("Drink plenty of water")
elif temperature > 20:
    print ("It's a nice day")
elif temperature > 10:
    print ("It's a bit cold")
print ("\n!!Program Executed!!")

Enter today's temperature : 22
It's a nice day

!!Program Executed!!

In [25]:
Weight=int(input('Please Enter Your Weight : '))

unit=input("KG or LBS: ")

if unit.upper() =='KG' or unit.upper() =='K':
    con=Weight/0.45
    print("Your weight in Lbs:"+ str(con))
elif unit.upper() =='LBS' or unit.upper() =='L':
    con=Weight *0.45
    print("Your weight in Kg:"+ str(con))
else:
    print('!! Error Unit is wrong !!')

Please Enter Your Weight : 170
KG or LBS: k
Your weight in Lbs:377.77777777777777

## While Loop

In [32]:
i = 1
while i <= 10:
    print (i * "*")
    i=i+1

*
**
***
****
*****
******
*******
********
*********
**********

## List

In [42]:
## Creating lists
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]

## Printing lists
print("list1 : ",list1)
print("list2 : ",list2)

## Accessing Values in Lists
print("\nlist1 : ", list1[3])
print("list2 : ", list2[1:4])

## Updating Lists
list1[2] = 2001
print("\nlist1 : ",list1)

## Delete List Elements
print("\nlist1 before del : ",list1)
del list1[2]
print("list1 after del: ",list1)

## Append 
list1.append(2500)
print("\nlist1 : ",list1)

## count
list1.count('physics')

list1 :  ['physics', 'chemistry', 1997, 2000]
list2 :  [1, 2, 3, 4, 5, 6, 7]

list1 :  2000
list2 :  [2, 3, 4]

list1 :  ['physics', 'chemistry', 2001, 2000]

list1 before del :  ['physics', 'chemistry', 2001, 2000]
list1 after del:  ['physics', 'chemistry', 2000]

list1 :  ['physics', 'chemistry', 2000, 2500]

1

In [46]:
marks=[78.5,89,69,173,90]

marks.append(89)
print(marks)
print(type(marks))
print(len(marks))

marks.insert(0,100)
print(marks)
marks.clear()

print(marks)

[78.5, 89, 69, 173, 90, 89]
<class 'list'>
6
[100, 78.5, 89, 69, 173, 90, 89]
[]

## For Loop

In [45]:
marks=[78.5,89,69,173,90]
for m in marks:
    print('Marks'+ " " + str(m))

Marks 78.5
Marks 89
Marks 69
Marks 173
Marks 90

## Range

In [47]:
## Increments of 2
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [48]:
## Default increment
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

## Tuple

In [54]:
num = (1,2,3,4,5,6,7,8,9)
print(type(num))
tup = ("mouse", [8, 4, 6], (1, 2, 3))
print(tup)
print(type(tup))

<class 'tuple'>
('mouse', [8, 4, 6], (1, 2, 3))
<class 'tuple'>