In [1]:
import pandas as pd 
import numpy as np
import re
import atoti as tt

Welcome to atoti 0.7.2!

By using this community edition, you agree with the license available at https://docs.atoti.io/latest/eula.html.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

atoti collects telemetry data, which is used to help understand how to improve the product.
If you don't wish to send usage data, set the ATOTI_DISABLE_TELEMETRY environment variable to True.

You can hide this message by setting the ATOTI_HIDE_EULA_MESSAGE environment variable to True.

In [2]:
df = pd.read_csv('burritos.csv')

In [3]:
df.columns

Index(['Location', 'Burrito', 'Date', 'Neighborhood', 'Address', 'URL', 'Yelp',
       'Google', 'Chips', 'Cost', 'Hunger', 'Mass (g)', 'Density (g/mL)',
       'Length', 'Circum', 'Volume', 'Tortilla', 'Temp', 'Meat', 'Fillings',
       'Meat:filling', 'Uniformity', 'Salsa', 'Synergy', 'Wrap', 'overall',
       'Rec', 'Reviewer', 'Notes', 'Unreliable', 'NonSD', 'Beef', 'Pico',
       'Guac', 'Cheese', 'Fries', 'Sour cream', 'Pork', 'Chicken', 'Shrimp',
       'Fish', 'Rice', 'Beans', 'Lettuce', 'Tomato', 'Bell peper', 'Carrots',
       'Cabbage', 'Sauce', 'Salsa.1', 'Cilantro', 'Onion', 'Taquito',
       'Pineapple', 'Ham', 'Chile relleno', 'Nopales', 'Lobster', 'Queso',
       'Egg', 'Mushroom', 'Bacon', 'Sushi', 'Avocado', 'Corn', 'Zucchini'],
      dtype='object')

In [4]:
df.head()

,Location,Burrito,Date,Neighborhood,Address,URL,Yelp,Google,Chips,Cost,...,Nopales,Lobster,Queso,Egg,Mushroom,Bacon,Sushi,Avocado,Corn,Zucchini
0,Donato's taco shop,California,1/18/2016,Miramar,6780 Miramar Rd,http://donatostacoshop.net/,3.5,4.2,NaN,6.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Oscar's Mexican food,California,1/24/2016,San Marcos,225 S Rancho Santa Fe Rd,http://www.yelp.com/biz/oscars-mexican-food-sa...,3.5,3.3,NaN,5.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Oscar's Mexican food,Carnitas,1/24/2016,NaN,NaN,NaN,NaN,NaN,NaN,4.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Oscar's Mexican food,Carne asada,1/24/2016,NaN,NaN,NaN,NaN,NaN,NaN,5.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pollos Maria,California,1/27/2016,Carlsbad,3055 Harding St,http://pollosmaria.com/,4.0,3.8,x,6.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.describe()

,Yelp,Google,Cost,Hunger,Mass (g),Density (g/mL),Length,Circum,Volume,Tortilla,Temp,Meat,Fillings,Meat:filling,Uniformity,Salsa,Synergy,Wrap,overall,Queso
count,82.000000,82.000000,378.000000,382.000000,22.000000,22.000000,251.000000,249.000000,249.000000,385.000000,365.000000,373.000000,383.000000,377.000000,383.000000,363.000000,383.000000,383.000000,383.000000,0.0
mean,3.898780,4.174390,7.048280,3.499895,546.181818,0.675277,20.072988,22.098996,0.785462,3.486104,3.741096,3.596247,3.527546,3.564403,3.422324,3.348485,3.576371,3.995561,3.604813,NaN
std,0.470748,0.377389,1.517983,0.808791,144.445619,0.080468,2.060584,1.795010,0.153465,0.787282,0.975079,0.835896,0.812342,0.987858,1.061032,0.927714,0.896275,1.107876,0.761901,NaN
min,2.500000,2.900000,2.990000,0.500000,350.000000,0.560000,15.000000,17.000000,0.400000,1.000000,1.000000,1.000000,1.000000,0.500000,0.000000,0.000000,1.000000,0.000000,1.000000,NaN
25%,3.500000,4.000000,6.250000,3.000000,450.000000,0.619485,18.500000,21.000000,0.680000,3.000000,3.000000,3.000000,3.000000,3.000000,2.500000,3.000000,3.000000,3.500000,3.000000,NaN
50%,4.000000,4.200000,6.950000,3.500000,540.000000,0.658099,20.000000,22.000000,0.770000,3.500000,4.000000,3.750000,3.500000,4.000000,3.500000,3.500000,3.800000,4.000000,3.750000,NaN
75%,4.000000,4.400000,7.750000,4.000000,595.000000,0.721726,21.500000,23.000000,0.880000,4.000000,4.500000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.100000,NaN
max,4.500000,5.000000,25.000000,5.000000,925.000000,0.865672,26.000000,29.000000,1.540000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,NaN

In [6]:
df.columns = [re.sub("([\(\[]).*?([\)\]])", "", x).strip() for x in df.columns]
df.columns = [x.replace(':','_').strip() for x in df.columns]

In [7]:
df.columns

Index(['Location', 'Burrito', 'Date', 'Neighborhood', 'Address', 'URL', 'Yelp',
       'Google', 'Chips', 'Cost', 'Hunger', 'Mass', 'Density', 'Length',
       'Circum', 'Volume', 'Tortilla', 'Temp', 'Meat', 'Fillings',
       'Meat_filling', 'Uniformity', 'Salsa', 'Synergy', 'Wrap', 'overall',
       'Rec', 'Reviewer', 'Notes', 'Unreliable', 'NonSD', 'Beef', 'Pico',
       'Guac', 'Cheese', 'Fries', 'Sour cream', 'Pork', 'Chicken', 'Shrimp',
       'Fish', 'Rice', 'Beans', 'Lettuce', 'Tomato', 'Bell peper', 'Carrots',
       'Cabbage', 'Sauce', 'Salsa.1', 'Cilantro', 'Onion', 'Taquito',
       'Pineapple', 'Ham', 'Chile relleno', 'Nopales', 'Lobster', 'Queso',
       'Egg', 'Mushroom', 'Bacon', 'Sushi', 'Avocado', 'Corn', 'Zucchini'],
      dtype='object')

In [8]:
df.isnull().any()
df.isnull().sum() / df.shape[0]

Location        0.000000
Burrito         0.000000
Date            0.000000
Neighborhood    0.774026
Address         0.784416
                  ...
Bacon           0.992208
Sushi           0.994805
Avocado         0.966234
Corn            0.992208
Zucchini        0.997403
Length: 66, dtype: float64

In [9]:
session = tt.Session(port=9000,user_content_storage="./content")

In [10]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
burrito_vars_norm = df.loc[:,['Circum','Volume','Length','Mass','Cost']]

bnorms = scaler.fit_transform(burrito_vars_norm)*10

df[['Circum_norm','Volume_norm','Length_norm','Mass_norm','Cost_norm']] = bnorms

D:\Anaconda\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [11]:
burrito_variables = pd.melt(df.reset_index(), id_vars = ['Location','Burrito'], value_vars = ['Circum_norm','Volume_norm','Length_norm','Mass_norm','Cost_norm'],)
burrito_variables

                   Location               Burrito     variable     value
0        Donato's taco shop           California   Circum_norm       NaN
1      Oscar's Mexican food           California   Circum_norm       NaN
2      Oscar's Mexican food              Carnitas  Circum_norm       NaN
3      Oscar's Mexican food           Carne asada  Circum_norm       NaN
4              Pollos Maria            California  Circum_norm       NaN
...                     ...                   ...          ...       ...
1920  Rigoberto's Taco Shop           California     Cost_norm  1.753748
1921  Rigoberto's Taco Shop           California     Cost_norm  1.753748
1922            Burrito Box  Steak with guacamole    Cost_norm  3.866424
1923             Taco Stand           California     Cost_norm  2.226261
1924             Taco Stand           California     Cost_norm  2.226261

[1925 rows x 4 columns]

In [12]:
burrito_table = session.read_pandas(df,table_name = 'burritos')

In [13]:
burrito_table.head()

,Location,Burrito,Date,Neighborhood,Address,URL,Yelp,Google,Chips,Cost,...,Bacon,Sushi,Avocado,Corn,Zucchini,Circum_norm,Volume_norm,Length_norm,Mass_norm,Cost_norm
0,Donato's taco shop,California,1/18/2016,Miramar,6780 Miramar Rd,http://donatostacoshop.net/,3.5,4.2,N/A,6.49,...,N/A,N/A,N/A,N/A,N/A,NaN,NaN,NaN,NaN,1.590186
1,Lola's 7 Up Market & Deli,Carne asada,2/29/2016,N/A,N/A,N/A,NaN,NaN,N/A,7.00,...,N/A,N/A,N/A,N/A,N/A,NaN,NaN,NaN,NaN,1.821899
2,Rigoberto's Taco Shop,Carne asada,3/8/2016,Miramar,7094 Miramar Rd,https://www.yelp.com/biz/rigobertos-taco-shop-...,4.0,4.4,N/A,6.60,...,N/A,N/A,N/A,N/A,N/A,NaN,NaN,NaN,NaN,1.640164
3,California Burritos,Chile relleno and carnitas,4/15/2016,N/A,N/A,N/A,NaN,NaN,N/A,6.50,...,N/A,N/A,N/A,N/A,N/A,NaN,NaN,NaN,NaN,1.594730
4,Senor Grubby's,California,4/24/2016,Carlsbad,377 Carlsbad Village Dr,eatgrubbys.com,4.0,4.1,N/A,9.00,...,N/A,N/A,N/A,N/A,N/A,3.75,2.631579,3.636364,NaN,2.730577

In [14]:
cube = session.create_cube(burrito_table)

In [15]:
h = cube.hierarchies
l = cube.levels
m = cube.measures

In [16]:
m['five'] = 5
m['lenXwrap'] = m['Length.MEAN'] * m['Wrap.MEAN']

In [17]:
session.visualize('exploration 1')

Open the notebook in JupyterLab with the atoti extension enabled to build this widget.

In [18]:
session.visualize('scatter plot neighborhood yelp google')

Open the notebook in JupyterLab with the atoti extension enabled to build this widget.

In [19]:
burrito_var_table = session.read_pandas(burrito_variables, table_name = 'burrito_variables', keys=['Location','Burrito','variable'])

In [20]:
burrito_table.join(burrito_var_table)

In [21]:
m['value'] = tt.agg.mean(burrito_var_table["value"])
m['aggvalue'] = tt.agg.mean(m['value'], scope = tt.scope.origin(l['Location'],l['Burrito'],l['variable']))

D:\Anaconda\lib\site-packages\atoti\scope\_origin.py:8: FutureWarning: Creating a scope with this function is deprecated. Initialize an OriginScope directly instead.
  deprecated(

In [22]:
session.visualize('radar chart final')

Open the notebook in JupyterLab with the atoti extension enabled to build this widget.

In [23]:
m['four'] = 4

In [24]:
m['four_google'] = 4.25